@import "../../themes/default.less";

.whole {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;

  .loginregister {
    padding: 1em;
    width: 100%;
    max-width: 400px;
  }
}