@default-background-color: rgba(102, 0, 255, .05);
@default-title-color: rgb(102, 0, 255);
@default-theme-color: rgb(255, 255, 255);
@default-theme-font-size: 1.3em;
@default-shadow: 0 0 1em 0em rgba(0, 0, 0, .15);
@default-shadow-hover: 0 0 2em 0em rgba(0, 0, 0, .2);
@default-transition: .2s;

.defaultShadowBox {
  box-shadow: @default-shadow;
}

.defaultShadowBox:hover {
  box-shadow: @default-shadow-hover;
}