@default-background-color: rgba(102, 0, 255, .05);
@default-title-color: rgb(102, 0, 255);
@default-theme-color: rgb(255, 255, 255);
@default-theme-font-size: 1em;
@default-shadow: 0 0 1em 0em rgba(0, 0, 0, .15);
@default-shadow-hover: 0 0 2em 0em rgba(0, 0, 0, .2);
@default-transition: .2s;

.defaultShadowBox {
  box-shadow: @default-shadow;
  background-color: white;
}

.defaultShadowBox:hover {
  box-shadow: @default-shadow-hover;
}

.defaultBox:extend(.defaultShadowBox all) {
  padding: 1em;
  margin-bottom: 1em;
}

.defaultRow {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1em 0;
}

.defaultTitle {
  font-size: 1em;
  margin-bottom: .5em;
}

.defaultInput {
  width: 100%;
  margin: .5em 0;
}