@import "../../themes/default.less";

.whole {
  display: flex;
  width: 80%;
  height: 100%;

  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  button {
    width: 30%;
    height: 20vh;
    font-size: 1.5em;
    border-radius: 5vh;
  }
}