@import "../../themes/default.less";

.whole {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  .main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5em 0;

    .logo {
      width: 50%;
    }

    .slogan {
      margin-top: 3em;
      width: 40%;
    }
  }
}